@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Lista de Usuários";
}
<h1>@ViewData["Title"]</h1>
<br />
<div class="row">
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código Usuário</th>
                    <th scope="col">Usuário</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Excluir</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td scope="col">@user.Id</td>
                        <td scope="col">@user.UserName</td>
                        <td scope="col" class="text-center">
                            <a class="btn btn-primary btn-sm" asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td scope="col" class="text-center">
                            <form method="post" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="col">
            <h4>Sem usuários cadastrados.</h4>
        </div>
    }
</div>